@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: .3s ease all;
    font-family: "Hind Siliguri", sans-serif;
    scroll-behavior: smooth;
}

header {
    width: 90%;
    margin: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
img{
    height: 32px;
}

.navigations a {
    margin-right: 25px;
    color: #0d0d0d;
    font-weight: 500;
}
.navigations a:hover {
    color: #0077ff;
    cursor: pointer;
}

.introducing {
    width: 90%;
    height: 80vh;
    margin: auto;
    border-radius: 30px;
    background: url(../img/introducing.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.introducing h1 {
    color: #fff;
    padding-top: 120px;
    margin-left: 50px;
    font-size: 48px;
    width: 400px;
    line-height: 60px;
}
.searchbar{
    display: flex;
    width: 70%;
    height: 60px;
    background: #fdfdfd;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 10px;
    align-items: center;
}
label{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    color: #777777;
}
select {
    width: 200px;
    height: 20px;
    background-color: #fdfdfd;
    border: none;
}
select:focus{
    color: #242424;
    font-weight: 500;
}
.btn1 {
    margin-left: 90px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #0077ff;
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}
.btn1:hover {
    background-color: #fdfdfd;
    color: #0077ff;
}
.agency-vid{
    align-items: center;
    display: flex;
    margin-left: 50px;
    margin-top: 100px;
}
.btn svg{
    align-items: center;
    background-color: #0077ff;
    color: #fff;
    fill: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    margin-right: 15px;
    transition: 100ms all;
}
.btn svg:hover{
    background-color: #fff;
    fill: #0077ff;
}
.vid-titles{
    color: #fff;
    align-items: center;
    margin: auto 0;
}
.vid-titles h3 {
    margin-top: -5px;
}
.vid-titles:hover{
    color: #0077ff;
}


/* secend section in index.html */
.car-selection{
    width: 90%;
    height: 50vh;
    margin: auto;
    margin-top: 50px;    
}
.car-selection-heading{
    display: flex;
    justify-content: space-between;
}
.car-selection-heading h3 {
    font-size: 1.5em;
    color: #120433;
}
.car-selection-heading button{
    padding: 5px 12px;
    color: #777777;
    font-weight: 900;
    border: none;
    border-radius: 5px;
}
.car-selection-heading button:hover{
    background-color: #0077ff;
    color: #fff;
}
.car-selection-heading button:active{
    background-color: #0d4686;
    color: #f1f1f1;
}
.right-side{
    display: flex;
}
.list-classment{
    margin-right: 20px;
    font-size: 1em;
    color: #777777;
    font-weight: 500;
}
.selection-container{
    display: flex;
    width: 100%;
    height: 220px;
    position: relative;
}
.list1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.list2{
    display: none;
    justify-content: space-between;
    width: 100%;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
}

.item img{
    height: 100px;
}
.item h3{
    color: #120433;
}
.item p {
    background-color: #f1f1f1;
    color: #777777;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: 600;
}
.item:hover{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    p{
        color: #0077ff;
    }
}
.hidden {
    display: none;
}
.show-item {
        display: flex;
}

/* services section */
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.services h2{
    text-align: center;
    font-size: 2.5em;
}
.pContent{
    text-align: center;
    width: 500px;
    margin: auto;
}
span{
    color: #0077ff;
}

.servicesContainer{
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    gap: 50px;
}
.service{
    display: flex;
}
.icon{
    transform: scale(0.7);
    margin-right: 10px;
}
.theService{
    width: 400px;
    margin-top: 10px;color: #777777;
}
.theService h3 {
    color: #0d0d0d;
}
.cars-container{
    min-height: 80vh;
    width: 90%;
    margin: auto;
}
.products {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 30px;
    row-gap: 30px;
    padding-top: 30px;
}
.product img{
    height: 200px;
}
.product {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    width: 380px;
    height: 380px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 30px;
    padding-top: 10px;
    align-items: center;
    border-radius: 20px;
}
.rent-info{
    display: flex;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.capacity {
    display: flex;
    margin: auto;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.capacity div {
    margin-left: 10px;
}
.icon-inf{
    background-color: #0077ff;
    color: #fff;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50%;
}
.rent-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.rent-option p {
    color: #777777;
}
.rent-option b {
    color: #000;
}
.rent-option button {
    background-color: #0077ff;
    color: #fff;
    border: 1px solid #0077ff;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
}
.rent-option button:hover{
    background-color: transparent;
    color: #0077ff;
}